<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$confres.name}</title>
<meta name="description" content="{$confres.desc}" />
<meta name="keywords" content="{$confres.keywords}" />
<link rel="stylesheet" type="text/css" media="all" href="__HOME__/style/style.css" />
<script src="__HOME__/style/jquery-1.4.1.min.js" type="text/javascript"></script>
    <script src="__HOME__/style/jquery.js" type="text/javascript"></script>
    <script src="__HOME__/style/jquery.error.js" type="text/javascript"></script>
    <script src="__HOME__/style/jtemplates.js" type="text/javascript"></script>
    <script src="__HOME__/style/jquery.form.js" type="text/javascript"></script>
    <script src="__HOME__/style/lazy.js" type="text/javascript"></script>
    <script type="text/javascript" src="__HOME__/style/wp-sns-share.js"></script>
    <script type="text/javascript" src="__HOME__/style/voterajax.js"></script>
    <script type="text/javascript" src="__HOME__/style/userregister.js"></script>
    <link rel="stylesheet" href="__HOME__/style/pagenavi-css.css" type="text/css" media="all" />
    <link rel="stylesheet" href="__HOME__/style/votestyles.css" type="text/css" />
    <link rel="stylesheet" href="__HOME__/style/voteitup.css" type="text/css" />
    <style type="text/css">
        #wrapper
        {
            background-color: #ffffff;
        }
        .single_entry{margin-top:30px;}
        a{text-decoration:none;}
        a:hover{color:red;}
        a:link{color:black;}
        .neirong{
            height:810px;
            display:flex;
        }
        .neirong_left{
            flex:1;
        }
        .neirong_right{
            flex:3;
        }
    </style>
</head>
<body class="single2">

<script type="text/javascript">
    function showMask() {
        $("#mask").css("height", $(document).height());
        $("#mask").css("width", $(document).width());
        $("#mask").show();
    }
</script>
<div id="mask" class="mask" onclick="CloseMask()"></div>
{include file="public/head" /}
    <div class="neirong" id="wrapper">
        <div class="neirong_left">
            <div align="center">
                <img src="{$res.image}" alt="暂无照片" style="margin-top: 20px;margin-bottom: 20px;width:100px;height: 100px;" />
                <p style="text-align: center;font-size: 20px;"><a href="{:url('index')}">基本信息</a></p><br />
                <p style="text-align: center;font-size: 20px;"><a href="{:url('edit')}">信息修改</a></p>
            </div>
        </div>
        <div class="neirong_right">
            <table border="0" cellspacing="0" style="margin-top:30px;width:600px;font-size: 17px;">
                <tr style="height:60px;line-height: 40px;">
                    <td align="center">头像</td>
                    <td><img src="{$res.image}" alt="暂无照片" style="width:60px;height: 60px;" /></td>
                </tr>
                <tr style="height:60px;line-height: 40px;">
                    <td align="center">昵称</td>
                    <td>{$res.username}</td>
                </tr>
                <tr style="height:60px;line-height: 40px;">
                    <td align="center">性别</td>
                    <td>{if condition="$res['sex'] eq 1"}男{else/}女{/if}</td>
                </tr>
                <tr style="height:60px;line-height: 40px;">
                    <td align="center">出生年份</td>
                    <td>{$res.year}</td>
                </tr>
                <tr style="height:60px;line-height: 40px;">
                    <td align="center">所属省份</td>
                    <td>{$res.province}</td>
                </tr>
                <tr style="height:60px;line-height: 40px;">
                    <td align="center">所属城市</td>
                    <td>{$res.city}</td>
                </tr>
            </table>
        </div>
    </div>
{include file="public/footer" /}
<div style="display: none;" id="scroll">
</div>
<script type="text/javascript" src="__HOME__/style/z700bike_global.js"></script>
</body>
</html>
